<div class="card mt-3 shadow" style="height: 90vh;">
  <div class="row g-0">
    <div class="col-md-7">
      <img src="{{notebook.img}}" class="img-fluid rounded-start" alt="{{notebook.title}}" />
    </div>
    <div class="col-md-5">
      <div class="card-body">
        <h1 class="card-title lh-lg">{{notebook.title}}</h1>
        <b class="card-text">{{notebook.descr}}</b>
        <h1 class="card-text"><b>$</b><small class="text-muted">{{notebook.price}}</small></b>
      </div>
    </div>
  </div>
</div>