<h1 class="mt-2 text-center">Notebooks</h1>

{{#if notebooks.length}}
<a href="/card" class="position-absolute top-10 end-0">
  <div class="btn position-fixed rounded-pill">
    <i class="fa fa-shopping-cart fs-2"></i>
    <span class="position-absolute top-0 start-95 translate-middle badge rounded-pill bg-danger">
      {{count}}+
    </span>
  </div>
</a>
<div class="content_notebook">
  {{#each notebooks}}

  <div class="card shadow">
    <img class="card-img-top" src="{{img}}" alt="{{title}}" />
    <div class="card-body">
      <h1 class="card-title">{{title}}</h1>
      <p class="card-text">{{descr}}</p>
      <h2>${{price}}</h2>

    </div>
    <div class="card-body">
      <hr>
      <div class="btn-group d-flex justify-content-between align-items-center">
        <a href="/notebooks/{{id}}" target="_blank" class="btn btn-outline-warning">Detail</a>
        {{#if @root.isAuth}}
        {{#ifuser userId._id @root.userId}}
        <a href="/notebooks/{{id}}/edit?allow=true" class="btn btn-outline-info">Edit</a>
        {{/ifuser}}
        <form action="/card/add" method="POST">
          <input type="hidden" name="id" value="{{id}}">
          <button type="submit" class="btn btn-success">Buy</button>
        </form>
        {{/if}}
      </div>
    </div>
  </div>

  {{/each}}
</div>
{{else}}
<h1>Not Found Notebook</h1>
{{/if}}