<h1 class="text-center text-muted">My Orders</h1>
{{#if orders.length}}
<div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-lg-10">
        {{#each orders}}
        <div class="card shadow-lg mb-4" style="border-radius: 10px;">
            <div class="card-header px-4 py-4">
                <h5 class="text-muted text-center mb-0">Thanks for your Order, <span
                        style="color: #41e418;">{{user.userId.name}}</span>!</h5>
            </div>
            <div class="card-body p-4">
                {{#each notebooks}}
                <div class="card shadow-1 border mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3">
                                <img src="{{notebook.img}}" class="img-fluid" alt="{{notebook.title}}">
                            </div>
                            <div class="col-md-3 text-center d-flex justify-content-center align-items-center">
                                <h3 class="text-muted mb-0">{{notebook.title}}</h3>
                            </div>
                            <div class="col-md-3 text-center d-flex justify-content-center align-items-center">
                                <h5 class="text-muted mb-0">Qty: {{count}}</h5>
                            </div>
                            <div class="col-md-3 text-center d-flex justify-content-center align-items-center">
                                <h3 class="text-muted mb-0">${{notebook.price}}</h3>
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}}
                <div class="d-flex justify-content-between">
                    <p class="text-muted mb-0">Invoice Date : {{date}}</p>
                </div>


            </div>
            <div class="card-footer border-0 px-4 py-5"
                style="background-color: #00c3ff; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">
                <h3 class="d-flex align-items-center justify-content-end text-white text-uppercase mb-0">Total:
                    <span class="h2 mb-0 ms-2">${{price}}</span>
                </h3>

            </div>
        </div>
        {{/each}}
    </div>


</div>
{{else}}
<div class="row">
    <div class="col-md-12">
        <div class="card shadow mt-4">
            <div class="card-body">
                <div class="col-sm-12 text-center">
                    <img src="https://i.imgur.com/dCdflKN.png" width="130" height="130" class="img-fluid mb-4 m-3" />
                    <h3><strong>Your have not Ordered anything!</strong></h3>
                    <h4>Order something to make me happy 😭</h4>
                    <a href="/card" class="btn btn-outline-success m-3">ORDER CART</a>
                </div>
            </div>
        </div>
    </div>
</div>
{{/if}}